{% extends "TcgDatabaseBundle::layout.html.twig" %}

{% block content %}
    <h1>Liste des classes</h1>

    <a href="{{ path('classe_new') }}">Ajouter une classe</a>
    <ul>
        {% for entity in entities %}
            <li>{{ entity.libelle }} {{ entity.specialisation }} - <a href="{{ path('classe_edit', { 'id': entity.id }) }}">Modifier</a> <a href="{{ path('classe_delete', { 'id': entity.id }) }}">Supprimer</a></li>
        {% endfor %}
    </ul>
{% endblock %}